@import url('https://fonts.googleapis.com/css?family=Roboto:900,500,700,100,300,400|Poppins:600,500|Montserrat:300,700|Open+Sans:600,400|Work+Sans:500');


.cartwidget {
  width               : 100%;
  min-width           : auto;
  height              : 100vh;
  min-height          : 856px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255,255,255,0.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.cartwidget .backgroundcadastro {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .backgroundcadastro .asset10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .backgroundcadastro .asset10 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 0.85;
}
.cartwidget .backgroundcadastro .asset9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : calc(100.00% - 2px);
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .backgroundcadastro .asset9 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 0.43;
}
.cartwidget .backgroundcadastro .asset9 .group .path {
  background-color    : rgba(255,255,255,0.0);
  right               : 0px;
  top                 : 1px;
  height              : 265px;
  width               : 1013px;
  position            : absolute;
  margin              : 0;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .backgroundcadastro .asset9 .group .path1 {
  background-color    : rgba(255,255,255,0.0);
  bottom              : 0px;
  height              : 587px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .backgroundcadastro .asset8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : calc(100.00% - 62px);
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 0.37;
}
.cartwidget .backgroundcadastro .asset8 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 0.15;
}
.cartwidget .backgroundcadastro .asset8 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : 725px;
  width               : calc(100.00% - 57px);
  position            : absolute;
  margin              : 0;
  left                : 20px;
  border-radius       : 3px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .backgroundcadastro .asset7 {
  background-color    : rgba(255,255,255,0.0);
  bottom              : 84px;
  height              : 356px;
  width               : calc(100.00% - 58px);
  position            : absolute;
  margin              : 0;
  left                : 21px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .backgroundcadastro .asset7 .path {
  background-color    : rgba(255,255,255,0.0);
  bottom              : 0px;
  height              : 356px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 733px;
  width               : 1121px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.cartwidget .cartgroup-layout-container > * {
  pointer-events      : auto;
}
.cartwidget .cartgroup .rectangle {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 703px;
  width               : 489px;
  transform           : rotate(0deg);
  opacity             : 0.87;
}
.cartwidget .cartgroup .rectangle-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.cartwidget .cartgroup .rectangle-layout-container > * {
  pointer-events      : auto;
}
.cartwidget .cartgroup .cart {
  background-color    : rgba(255,255,255,0.0);
  right               : 0px;
  top                 : 27px;
  height              : 690px;
  width               : 1121px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : center;
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 1121px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .carrinho {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 69px;
  margin              : 0;
  width               : 1123px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 42.0px;
  color               : rgba(77, 91, 182, 1.0);
  text-align          : center;
  line-height         : 51.0px;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : center;
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 33px 0 0 0;
  width               : 1086px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 323px;
  margin              : 0;
  width               : 285px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 300px;
  height              : 22px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : 173px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 294px;
  height              : 27px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : 242px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 143px;
  height              : 160px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 195px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 140px;
  height              : 159px;
  width               : 77px;
  position            : absolute;
  margin              : 0;
  left                : 199px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 130px;
  height              : 21px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 156px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 138px;
  height              : 19px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 159px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 97px;
  height              : 42px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 172px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 37px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 214px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 43px;
  height              : 107px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 195px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 47px;
  height              : 101px;
  width               : 78px;
  position            : absolute;
  margin              : 0;
  left                : 173px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 37px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 201px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 33px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 200px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : 9px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 219px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : 64px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 197px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 2px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 204px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 1px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 205px;
  transform           : rotate(-19.8299999237deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path14 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : 3px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 207px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path15 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 152px;
  height              : 14px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 223px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path16 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 222px;
  height              : 6px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 232px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path17 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 225px;
  height              : 5px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 233px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path18 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 232px;
  height              : 3px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 196px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 234px;
  height              : 3px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 196px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path20 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 117px;
  height              : 20px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 199px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .rectangle12 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 199px;
  height              : 1px;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  transform           : rotate(-1.50999999046deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .rectangle1 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 212px;
  height              : 0px;
  width               : 126px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .rectangle2 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 162px;
  height              : 123px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  transform           : rotate(-88.8542404175deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .rectangle3 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 174px;
  height              : 123px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  transform           : rotate(-87.5299987793deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .rectangle4 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 187px;
  height              : 1px;
  width               : 133px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  transform           : rotate(-3.47000002861deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .rectangle5 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 210px;
  height              : 1px;
  width               : 83px;
  position            : absolute;
  margin              : 0;
  left                : 69px;
  transform           : rotate(-79.5199966431deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .rectangle6 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 212px;
  height              : 1px;
  width               : 79px;
  position            : absolute;
  margin              : 0;
  left                : 54px;
  transform           : rotate(-79.1900024414deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .rectangle7 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 212px;
  height              : 1px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 41px;
  transform           : rotate(-78.2799987793deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .rectangle8 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 212px;
  height              : 1px;
  width               : 67px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  transform           : rotate(-79.4300003052deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .rectangle9 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 213px;
  height              : 1px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(-79.1900024414deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .rectangle10 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 213px;
  height              : 1px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  transform           : rotate(-79.5400009155deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .rectangle11 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 213px;
  height              : 1px;
  width               : 57px;
  position            : absolute;
  margin              : 0;
  left                : -10px;
  transform           : rotate(-80.6800003052deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 304px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 29px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .oval3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 304px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 166px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 147px;
  height              : 152px;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 285px;
  height              : 20px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 161px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path23 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 304px;
  height              : 13px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 171px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 297px;
  height              : 17px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .doronglagi .path25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 165px;
  height              : 92px;
  width               : 141px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .seucarrinhoest341va {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 31px 0 0 0;
  width               : 953px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 32.0px;
  color               : rgba(255, 84, 88, 1.0);
  text-align          : center;
  line-height         : 38.0px;
}
.cartwidget .cartgroup .cart .stackedgroup .cardempty .voc352precisaadicion {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 31px 0 0 0;
  width               : 1088px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 22.0px;
  color               : rgba(77, 91, 182, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.cartwidget .cartgroup .cart .stackedgroup .conferirpre347os {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 102px;
  margin              : 33px 0 0 0;
  width               : 345px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  transition          : all 0.2s ease-in-out;
}
.cartwidget .cartgroup .cart .stackedgroup .conferirpre347os {
  pointer-events      : auto;
}
.cartwidget .cartgroup .cart .stackedgroup .conferirpre347os:hover {
  transform           : translate(10px, 0);
}
.cartwidget .cartgroup .cart .stackedgroup .conferirpre347os .buttonprice {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 102px;
  width               : 345px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .conferirpre347os .buttonprice .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 102px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.cartwidget .cartgroup .cart .stackedgroup .conferirpre347os .buttonprice .conferirpre307os {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 67px;
  width               : 308px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Roboto", Helvetica, Arial, serif;
  font-weight         : 500;
  font-style          : normal;
  font-size           : 26.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 30.0px;
}
.cartwidget .cartgroup .exit {
  background-color    : rgba(255,255,255,0.0);
  right               : 337px;
  top                 : 5px;
  height              : 53px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  transform           : rotate(0deg);
  opacity             : 0.95;
  transition          : all 0.2s ease-in-out;
}
.cartwidget .cartgroup .exit {
  pointer-events      : auto;
}
.cartwidget .cartgroup .exit:hover {
  transform           : scale(0.9);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-valign-text-middle {
  display             : flex;
  flex-direction      : column;
  justify-content     : center;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}