@import url('https://fonts.googleapis.com/css?family=Roboto:500,700,900,100,300,400|Poppins:600|Open+Sans:700,800,600|Work+Sans:500|Montserrat:300,700');


.bp4-contatomobile {
  width               : 100%;
  min-width           : 556px;
  height              : 100vh;
  min-height          : 963px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
div {
  -webkit-text-size-adjust: none;
}
.bp4-contatomobile .bp4-headermenu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : 49px;
  width               : calc(100.00% - 16px);
  position            : absolute;
  margin              : 0;
  left                : 8px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp4-contatomobile .bp4-headermenu .bp4-path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : 11px;
  width               : calc(100.00% - 2px);
  position            : absolute;
  margin              : 0;
  left                : 1px;
  transform           : rotate(0.999999165535deg);
  opacity             : 1.0;
}
.bp4-contatomobile .bp4-a404copy2 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 655px;
  width               : 537px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp4-contatomobile .bp4-a404copy2-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp4-contatomobile .bp4-a404copy2-layout-container > * {
  pointer-events      : auto;
}
.bp4-contatomobile .bp4-a404copy2 .bp4-a404 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 537px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 200.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : center;
  line-height         : 244.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.bp2-contatolq {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 695px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
div {
  -webkit-text-size-adjust: none;
}
.bp2-contatolq .bp2-rectangle {
  background-color    : rgba(46, 50, 67, 1.0);
  bottom              : -990px;
  height              : 967px;
  width               : calc(100.00% + 96px);
  position            : absolute;
  margin              : 0;
  left                : -48px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-contatolq .bp2-headermenu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : 56px;
  width               : calc(100.00% - 75px);
  position            : absolute;
  margin              : 0;
  left                : 35px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-contatolq .bp2-headermenu .bp2-menu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 56px;
  width               : 100%;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-contatolq .bp2-headermenu .bp2-menu .bp2-path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 54px;
  height              : 2px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-contatolq .bp2-a404 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 465px;
  width               : 809px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp2-contatolq .bp2-a404-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp2-contatolq .bp2-a404-layout-container > * {
  pointer-events      : auto;
}
.bp2-contatolq .bp2-a404 .bp2-a4041 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 809px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 200.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : center;
  line-height         : 244.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.bp3-contatotablet {
  width               : 100%;
  min-width           : 768px;
  height              : 100vh;
  min-height          : 1024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
div {
  -webkit-text-size-adjust: none;
}
.bp3-contatotablet .bp3-headermenu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : 55px;
  width               : calc(100.00% - 22px);
  position            : absolute;
  margin              : 0;
  left                : 11px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp3-contatotablet .bp3-headermenu .bp3-path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 36px;
  height              : 14px;
  width               : calc(100.00% - 2px);
  position            : absolute;
  margin              : 0;
  left                : 1px;
  transform           : rotate(0.999999523163deg);
  opacity             : 1.0;
}
.bp3-contatotablet .bp3-a404copy {
  background-color    : rgba(255,255,255,0.0);
  margin-right        : -1px;
  position            : relative;
  height              : 630px;
  margin-left         : 1px;
  width               : 746px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp3-contatotablet .bp3-a404copy-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp3-contatotablet .bp3-a404copy-layout-container > * {
  pointer-events      : auto;
}
.bp3-contatotablet .bp3-a404copy .bp3-a404 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 746px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 200.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : center;
  line-height         : 244.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
.bp1-contato {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 856px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.bp1-contato .bp1-rectangle {
  background-color    : rgba(46, 50, 67, 1.0);
  bottom              : -990px;
  height              : 967px;
  width               : calc(100.00% + 96px);
  position            : absolute;
  margin              : 0;
  left                : -48px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp1-contato .bp1-panel {
  background-color    : rgba(255,255,255,0.0);
  bottom              : 0px;
  height              : 153px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp1-contato .bp1-a404 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 553px;
  width               : 702px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp1-contato .bp1-a404-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.bp1-contato .bp1-a404-layout-container > * {
  pointer-events      : auto;
}
.bp1-contato .bp1-a404 .bp1-a4041 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 701px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Montserrat", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 200.0px;
  color               : rgba(74, 73, 74, 1.0);
  text-align          : center;
  line-height         : 244.0px;
}
.bp1-contato .bp1-headermenu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : 48px;
  width               : calc(100.00% - 70px);
  position            : absolute;
  margin              : 0;
  left                : 35px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.bp1-contato .bp1-headermenu .bp1-path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : 2px;
  width               : calc(100.00% - 5px);
  position            : absolute;
  margin              : 0;
  left                : 5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
@media screen and (max-width: 767px) {
  .bp4-contatomobile {
    display             : block;
  }
  .bp3-contatotablet {
    display             : none;
  }
  .bp2-contatolq {
    display             : none;
  }
  .bp1-contato {
    display             : none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .bp4-contatomobile {
    display             : none;
  }
  .bp3-contatotablet {
    display             : block;
  }
  .bp2-contatolq {
    display             : none;
  }
  .bp1-contato {
    display             : none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .bp4-contatomobile {
    display             : none;
  }
  .bp3-contatotablet {
    display             : none;
  }
  .bp2-contatolq {
    display             : block;
  }
  .bp1-contato {
    display             : none;
  }
}
@media screen and (min-width: 1440px) {
  .bp4-contatomobile {
    display             : none;
  }
  .bp3-contatotablet {
    display             : none;
  }
  .bp2-contatolq {
    display             : none;
  }
  .bp1-contato {
    display             : block;
  }
}