.servicescontainer {
    position: absolute;
    top: 650px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-between;
    width: 100%;
    height: auto;
    order: 3;
    justify-content: space-evenly;
    /* padding: 20px; */
}

.proximoServ {
    position: fixed;
    top: Calc(100% - 280px);
    right: 40px;
    width: 50px;
    height: 50px;
    color: #2776caa4;
    background-color: #6691c025;
    border-radius: 150px;
    border: solid 2px #1558af8a;
}

.proximoServ:hover {
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
    transform: scale(1.2);
    background-color: #6caef52f;
    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */
    border-radius: 30px;
}

.anteriorServ {
    position: fixed;
    top: Calc(100% - 200px);
    transform: scale(-1);
    right: 40px;
    width: 50px;
    height: 50px;
    color: #2776caa4;
    background-color: #6691c025;
    border-radius: 150px;
    border: solid 2px #1558af8a;
}

.anteriorServ:hover {
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
    transform: scale(-1.2);
    background-color: #6caef52f;
    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */
    border-radius: 30px;
}

 .services {
    position: relative;
    width: 360px;
    height: 360px;
    margin: 20px;
    padding: 20px;
}
.services > * {
     pointer-events : auto;
}
.services:hover {
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
    transform: scale(0.9);
    background-color: #6caef52f;
    /* filter: blur(8px); */
    /* -webkit-filter: blur(8px); */
    border-radius: 30px;
}

.servconnteudo {
    position: relative;
    width: 100%;
    height: 266px;
    /* opacity: 0; */
    border: solid 1px #97979700;
    background-color: #d8d8d800;
}

.servimg {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.servimg:hover {
    object-fit: contain;
}

.servtitle {
    width: 100%;
    height: 28px;
    position: relative;
    left: 20px;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 900;
    /* text-align: center; */
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.33px;
    color: #091d33;
    padding: 15px;
}

.detaleConteudo {
    width: 100%;
    height: 58px;
    /* opacity: 0.3; */
    border-radius: 29.2px;
    background-color: #94a0ec93;
}

.servsoft {
    position: relative;
    top: 10px;
    left: 60px;
    width: 425px;
    height: 14px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    /* text-align: center; */
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.servDetail {
    position: relative;
    top: 20px;
    left: 60px;
    width: 425px;
    height: 14px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    /* text-align: center; */
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}