@import url('https://fonts.googleapis.com/css?family=Roboto:900,700,400,500,300|Poppins:600,500|Montserrat:300,700|Open+Sans:600,400|Work+Sans:500');


.menutabmobileoverlay {
  width               : 100%;
  min-width           : 357px;
  height              : 100vh;
  min-height          : 134px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255,255,255,0.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.menutabmobileoverlay .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 134px;
  width               : 357px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 0.0;
}
.menutabmobileoverlay .paddinggroup3 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 100%;
  width               : 353px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.menutabmobileoverlay .paddinggroup3-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 50px;
  align-items         : center;
  height              : 84px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.menutabmobileoverlay .paddinggroup3-layout-container > * {
  pointer-events      : auto;
}
.menutabmobileoverlay .paddinggroup3 .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 79px;
  width               : 353px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 0.2;
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : row;
  align-items         : center;
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : 65px;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardssobre {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 65px;
  margin              : 0;
  width               : 86px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  transition          : all 0.2s ease-in-out;
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardssobre {
  pointer-events      : auto;
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardssobre:hover {
  transform           : scale(1.1);
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardssobre .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 65px;
  width               : 86px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardssobre .contactbutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 39px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardssobre .contactbutton .aboutbutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 39px;
  width               : 50px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardssobre .contactbutton .aboutbutton .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 39px;
  width               : 49px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardssobre .contactbutton .aboutbutton .sobre {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(138, 140, 142, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardsprice {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 65px;
  margin              : 0 0 0 50px;
  width               : 91px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  transition          : all 0.2s ease-in-out;
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardsprice {
  pointer-events      : auto;
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardsprice:hover {
  transform           : scale(1.1);
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardsprice .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 65px;
  width               : 91px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardsprice .contactbutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 39px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardsprice .contactbutton .pricesbutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 39px;
  width               : 55px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardsprice .contactbutton .pricesbutton .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 39px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardsprice .contactbutton .pricesbutton .pre347os {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(138, 140, 142, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardscontato {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 65px;
  margin              : 0 0 0 50px;
  width               : 101px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  transition          : all 0.2s ease-in-out;
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardscontato {
  pointer-events      : auto;
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardscontato:hover {
  transform           : scale(1.1);
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardscontato .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 65px;
  width               : 101px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardscontato .contactbutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 39px;
  width               : 65px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardscontato .contactbutton .contactbutton1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 39px;
  width               : 65px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardscontato .contactbutton .contactbutton1 .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 39px;
  width               : 64px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.menutabmobileoverlay .paddinggroup3 .stackbuttonsg .cardscontato .contactbutton .contactbutton1 .contato {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Open Sans", Helvetica, Arial, serif;
  font-weight         : 600;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(138, 140, 142, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.menutabmobileoverlay .exit {
  background-color    : rgba(255,255,255,0.0);
  margin-left         : 1px;
  height              : 100%;
  width               : 30px;
  margin-right        : -1px;
  position            : relative;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.menutabmobileoverlay .exit-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 35px;
  align-items         : center;
  height              : 28px;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.menutabmobileoverlay .exit-layout-container > * {
  pointer-events      : auto;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}